.event-modal-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40%;
	border-radius: 5px;
	transform: translate(-50%, -50%);
	-webkit-box-shadow: -1px 2px 31px 12px rgba(189, 189, 189, 1);
	-moz-box-shadow: -1px 2px 31px 12px rgba(189, 189, 189, 1);
	box-shadow: -1px 2px 31px 12px rgba(189, 189, 189, 1);
	min-height: 300px;
	min-width: 300px;
    max-width: 500px;
	background-color: white;
}

.event-modal-wrapper * {
    color: var(--global-text-gray);
}

.event-modal-header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(241, 243, 244);
	padding: 10px;
	border-radius: 5px 5px 0 0;
	color: var(--global-text-gray);
}

.event-modal-header-buttons-wrapper {
	display: flex;
	gap: 10px;
}

.event-modal-header-buttons-wrapper *:hover {
	cursor: pointer;
}

.fa-solid .fa-clock {
	color: white;
}

.event-modal-form {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.modal-textarea {
	background-color: rgb(241, 243, 244);
	border: none;
	border-radius: 5px;
	width: 90%;
	align-self: flex-end;
}

.event-modal-save-button {
	background-color: var(--global-google-blue);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	max-width: 80px;
	align-self: flex-end;
	cursor: pointer;
}

.event-modal-title-input {
	border: none;
	font-size: 24px;
	border-bottom: 2px solid var(--global-google-blue);
	max-width: 90%;
	margin: 10px 5px 5px 20px;
}

.event-modal-title-input:active {
	border: none;
}

.text-area-input-wrapper {
	display: flex;
	gap: 20px;
	margin-left: 20px;
}
