:root {
	--global-text-gray: rgb(95, 99, 104);
	--global-border-gray: rgb(218, 220, 224);
	--global-google-blue: rgb(26, 115, 232);
}

@font-face {
	font-family: calendar-font;
	src: url("/public/fonts/Product\ Sans\ Regular.ttf");
}

* {
	font-family: calendar-font;
}


.main-wrapper {
	display: flex;
	width: 99vw;
	height: 90vh;
}